[Unit]
Description=sysmotd service to update MOTD

[Service]
Type=oneshot
User=root
Group=root
RemainAfterExit=no
ExecStart=/usr/libexec/sysmotd
LogLevelMax=3
